@font-face {
  font-family: 'Dosis';
  src: url('src/assets/fonts/Dosis-Regular.woff2') format('woff2'),
  url('src/assets/fonts/Dosis-Regular.woff') format('woff'),
  url('src/assets/fonts/Dosis-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('src/assets/fonts/Dosis-Bold.woff2') format('woff2'),
  url('src/assets/fonts/Dosis-Bold.woff') format('woff'),
  url('src/assets/fonts/Dosis-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('src/assets/fonts/Dosis-Medium.woff2') format('woff2'),
  url('src/assets/fonts/Dosis-Medium.woff') format('woff'),
  url('src/assets/fonts/Dosis-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

